In [130]:
import pandas as pd
import numpy as np
import re
import ast
import math

import warnings
warnings.filterwarnings("ignore")

In [131]:
pd.set_option("display.max_columns", None)

<h2 align="center" style="color:blue">Data Loading</h2>

In [132]:
flats = pd.read_csv("data/raw_data/hyderabad/flats.csv")
flats.head(3)

,link,property_type,name,area,society_name,locality,city,price,price_per_sqft,Status,New/Resale,Price Negotiable,Age of Property,Bathrooms,Carpet area,Floor,Booking Amount,Balconies,Additional Rooms,Security Deposit,Security Deposit.1,Status.1,RERA ID,Price Negotiable.1,Age of Property.1,Facing,Balconies.1,New/Resale.1,Booking Amount.1,Additional Rooms.1,Overlooking,Ownership Type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/janapriya-eng...,Apartment,3 BHK Apartment,"2,120 sq ft",Janapriya Bahiti,Ameenpur,Hyderabad,1.44CrEMI,"6,800/ sq ft the price/ sq ft of this propert...",Under Construction,New,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Deposit,Unfurnished,P01100007344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['[]'],NaN
1,https://www.makaan.com/hyderabad/beams-and-col...,Apartment,2 BHK Apartment,"1,310 sq ft",Beams 4 Blocks,Kompally,Hyderabad,78.6LEMI,"6,000/ sq ft the price/ sq ft of this propert...",Ready to move,New,NaN,0 - 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Deposit,Unfurnished,P02200001921,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Multipurpose Room, Rain Water Harvesting, J...",NaN
2,https://www.makaan.com/hyderabad/mahaveer-cons...,Apartment,4 BHK Apartment,"5,345 sq ft",Mahaveer Crystal Garden,Attapur,Hyderabad,4.54CrEMI,"8,500/ sq ft the price/ sq ft of this propert...",Under Construction,New,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Deposit,Unfurnished,P02500004287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Gymnasium, ATM, Lift(s), Jogging Track, Spo...",NaN

In [133]:
houses = pd.read_csv('data/raw_data/hyderabad/houses.csv')
houses.head(3)

,link,property_type,name,area,society_name,locality,city,price,price_per_sqft,Status,New/Resale,Price Negotiable,Age of Property,Bathrooms,Carpet area,Floor,Booking Amount,Balconies,Additional Rooms,Security Deposit,Security Deposit.1,Status.1,RERA ID,Price Negotiable.1,Age of Property.1,Facing,Balconies.1,New/Resale.1,Booking Amount.1,Additional Rooms.1,Overlooking,Ownership Type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/sark-projects...,Villa,3 BHK Villa,"1,600 sq ft",Sark Townhomes Nadergul,Shankarpalli,Hyderabad,1.24CrEMI,"7,800/ sq ft the price/ sq ft of this propert...",Under Construction,New,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Deposit,Unfurnished,P02400007722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Intercom, Indoor Games, Car Parking, Club H...",NaN
1,https://www.makaan.com/hyderabad/vishal-projec...,Villa,4 BHK Villa,"2,925 sq ft",Vishal Vishal Sanjivini,Tukkuguda,Hyderabad,4.74CrEMI,"16,205/ sq ft the price/ sq ft of this proper...",Under Construction,New,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Deposit,Unfurnished,P02400005871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Rain Water Harvesting, Jogging Track, Car P...",NaN
2,https://www.makaan.com/hyderabad/aliens-group-...,Independent House,4 BHK Independent House,"3,942 sq ft",Aliens Space Station,Tellapur,Hyderabad,2.91CrEMI,"7,400/ sq ft the price/ sq ft of this propert...",Under Construction,New,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Deposit,Unfurnished,Rera Not Applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Indoor Games, ATM, Jogging Track, Lift(s), ...",NaN

In [134]:
flats.shape, houses.shape

((14750, 34), (4760, 34))

#### Merge the flats and houses dataframes

In [135]:
df = pd.concat([flats, houses], ignore_index=True)

In [136]:
df.sample(3)

,link,property_type,name,area,society_name,locality,city,price,price_per_sqft,Status,New/Resale,Price Negotiable,Age of Property,Bathrooms,Carpet area,Floor,Booking Amount,Balconies,Additional Rooms,Security Deposit,Security Deposit.1,Status.1,RERA ID,Price Negotiable.1,Age of Property.1,Facing,Balconies.1,New/Resale.1,Booking Amount.1,Additional Rooms.1,Overlooking,Ownership Type,amenities,furnish_details
18834,https://www.makaan.com/hyderabad/builder-proje...,Villa,5 BHK Villa,"3,600 sq ft",NaN,Kardhanur,Hyderabad,1.9CrEMI,"5,277/ sq ft the price/ sq ft of this propert...",Under Construction,New,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,No Deposit,Unfurnished,NaN,No,NaN,East,NaN,NaN,NaN,NaN,NaN,NaN,"['[Gymnasium, Lift(s), Intercom, Sports Facili...",NaN
248,https://www.makaan.com/hyderabad/candeur-devel...,Apartment,2 BHK Apartment,"1,165 sq ft",Candeur 40,Miyapur,Hyderabad,1.1CrEMI,"9,462/ sq ft the price/ sq ft of this propert...",Ready to move,New,NaN,0 - 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Deposit,Unfurnished,P02400002183,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Shopping Mall, Lift(s), Indoor Games, Full ...",NaN
1921,https://www.makaan.com/hyderabad/builder-hmda-...,Apartment,2 BHK Apartment,"1,150 sq ft",NaN,Ameenpur,Hyderabad,57.48LEMINegotiable,"4,999/ sq ft the price/ sq ft of this propert...",Under Construction,NaN,NaN,NaN,2.0,NaN,3rd of 5,NaN,NaN,NaN,NaN,No Deposit,Unfurnished,NaN,Yes,NaN,West,2.0,New,"2,00,000",NaN,Road View,Freehold,"['[Rain Water Harvesting, Intercom, Car Parkin...",NaN

##### Shuffle the data

In [137]:
df = df.sample(df.shape[0], ignore_index=True)
df.head(3)

,link,property_type,name,area,society_name,locality,city,price,price_per_sqft,Status,New/Resale,Price Negotiable,Age of Property,Bathrooms,Carpet area,Floor,Booking Amount,Balconies,Additional Rooms,Security Deposit,Security Deposit.1,Status.1,RERA ID,Price Negotiable.1,Age of Property.1,Facing,Balconies.1,New/Resale.1,Booking Amount.1,Additional Rooms.1,Overlooking,Ownership Type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,"1,120 sq ft",NaN,Asmangarh,Hyderabad,58LEMINegotiable,"5,178/ sq ft the price/ sq ft of this propert...",Ready to move,NaN,NaN,NaN,2.0,NaN,4th of 6,NaN,NaN,NaN,NaN,No Deposit,Semi-Furnished,NaN,Yes,12 - 13 years,North,1.0,Resale,"5,00,000",1 rooms(pooja room),Road View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']
1,https://www.makaan.com/hyderabad/asbl-asbl-spi...,Apartment,3 BHK Apartment,"1,905 sq ft",ASBL ASBL Spire,Kokapet,Hyderabad,1.39CrEMINegotiable,"7,349/ sq ft the price/ sq ft of this propert...",Under Construction,NaN,NaN,NaN,3.0,NaN,9th of 36,NaN,NaN,NaN,NaN,No Deposit,Unfurnished,NaN,Yes,NaN,NaN,NaN,New,NaN,NaN,NaN,Freehold,['[]'],NaN
2,https://www.makaan.com/hyderabad/builder-proje...,Independent House,10 BHK Independent House,"14,400 sq ft",NaN,Banjara Hills,Hyderabad,17.47CrEMI,"12,131/ sq ft the price/ sq ft of this proper...",Ready to move,Resale,NaN,NaN,11.0,14400 sq ft,NaN,NaN,NaN,NaN,NaN,No Deposit,Semi-Furnished,NaN,No,NaN,North,NaN,NaN,NaN,NaN,NaN,NaN,['[]'],NaN

In [138]:
df.shape

(19510, 34)

##### Change the column names to lower case

In [139]:
df.columns = df.columns.str.replace(' ', '_').str.replace('/', '_').str.lower()
df.head(2)

,link,property_type,name,area,society_name,locality,city,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,security_deposit.1,status.1,rera_id,price_negotiable.1,age_of_property.1,facing,balconies.1,new_resale.1,booking_amount.1,additional_rooms.1,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,"1,120 sq ft",NaN,Asmangarh,Hyderabad,58LEMINegotiable,"5,178/ sq ft the price/ sq ft of this propert...",Ready to move,NaN,NaN,NaN,2.0,NaN,4th of 6,NaN,NaN,NaN,NaN,No Deposit,Semi-Furnished,NaN,Yes,12 - 13 years,North,1.0,Resale,"5,00,000",1 rooms(pooja room),Road View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']
1,https://www.makaan.com/hyderabad/asbl-asbl-spi...,Apartment,3 BHK Apartment,"1,905 sq ft",ASBL ASBL Spire,Kokapet,Hyderabad,1.39CrEMINegotiable,"7,349/ sq ft the price/ sq ft of this propert...",Under Construction,NaN,NaN,NaN,3.0,NaN,9th of 36,NaN,NaN,NaN,NaN,No Deposit,Unfurnished,NaN,Yes,NaN,NaN,NaN,New,NaN,NaN,NaN,Freehold,['[]'],NaN

- In DataFrame, certain columns are repeated two times. So, Merge both columns.
- The repeated columns - new_resale, price_negotiable, age_of_property,booking_amount, balconies, additional_rooms, security_deposit

In [140]:
df.columns

Index(['link', 'property_type', 'name', 'area', 'society_name', 'locality',
       'city', 'price', 'price_per_sqft', 'status', 'new_resale',
       'price_negotiable', 'age_of_property', 'bathrooms', 'carpet_area',
       'floor', 'booking_amount', 'balconies', 'additional_rooms',
       'security_deposit', 'security_deposit.1', 'status.1', 'rera_id',
       'price_negotiable.1', 'age_of_property.1', 'facing', 'balconies.1',
       'new_resale.1', 'booking_amount.1', 'additional_rooms.1', 'overlooking',
       'ownership_type', 'amenities', 'furnish_details'],
      dtype='object')

In [141]:
# Function to merge repeated columns
def merge_and_drop(df, column):
    duplicate_column = column + '.1'
    
    if column in df.columns and duplicate_column in df.columns:
        # Merge columns using combine_first
        df[column] = df[column].combine_first(df[duplicate_column])
        # Drop the duplicate column
        df = df.drop(columns=[duplicate_column])
    
    return df

In [142]:
# List of columns with duplicates
repeated_columns = ['new_resale', 'price_negotiable', 'age_of_property', 
                    'booking_amount', 'balconies', 'additional_rooms', 'security_deposit']
# Apply the function to each repeated column
for col in repeated_columns:
    df = merge_and_drop(df, col)

df.head(3)

,link,property_type,name,area,society_name,locality,city,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,status.1,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,"1,120 sq ft",NaN,Asmangarh,Hyderabad,58LEMINegotiable,"5,178/ sq ft the price/ sq ft of this propert...",Ready to move,Resale,Yes,12 - 13 years,2.0,NaN,4th of 6,"5,00,000",1.0,1 rooms(pooja room),No Deposit,Semi-Furnished,NaN,North,Road View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']
1,https://www.makaan.com/hyderabad/asbl-asbl-spi...,Apartment,3 BHK Apartment,"1,905 sq ft",ASBL ASBL Spire,Kokapet,Hyderabad,1.39CrEMINegotiable,"7,349/ sq ft the price/ sq ft of this propert...",Under Construction,New,Yes,NaN,3.0,NaN,9th of 36,NaN,NaN,NaN,No Deposit,Unfurnished,NaN,NaN,NaN,Freehold,['[]'],NaN
2,https://www.makaan.com/hyderabad/builder-proje...,Independent House,10 BHK Independent House,"14,400 sq ft",NaN,Banjara Hills,Hyderabad,17.47CrEMI,"12,131/ sq ft the price/ sq ft of this proper...",Ready to move,Resale,No,NaN,11.0,14400 sq ft,NaN,NaN,NaN,NaN,No Deposit,Semi-Furnished,NaN,North,NaN,NaN,['[]'],NaN

<h2 align="center" style="color:blue">Detailed Analysis</h2>

### 1. property_type

In [144]:
df['property_type'].unique()

array(['Apartment', 'Independent House', 'Villa', 'Independent Floor'],
      dtype=object)

### 2. name

In [145]:
df['name'].unique()

array(['2 BHK Apartment', '3 BHK Apartment', '10 BHK Independent House',
       '3 BHK Villa', '4 BHK Villa', '8 BHK Independent House',
       '4 BHK Apartment', '4 BHK Independent House',
       '3 BHK Independent House', '5 BHK Villa',
       '2 BHK Independent Floor', '6 BHK Independent House',
       '2 BHK Independent House', '5 BHK Apartment', '2 BHK Villa',
       '5 BHK Independent House', '6 BHK Apartment',
       '1 BHK Independent House', '9 BHK Independent House',
       '3 BHK Independent Floor', '6 BHK Independent Floor',
       '1 BHK Apartment', '5 BHK Independent Floor', '6 BHK Villa',
       '7 BHK Independent House', '12 BHK Independent House',
       '4 BHK Independent Floor', '7 BHK Apartment',
       '1 BHK Independent Floor', '11 BHK Independent House',
       '1 BHK Villa', '7 BHK Villa'], dtype=object)

##### From the name column we can extarct the bhk value.

In [146]:
df['name'].str.split(' ').str.get(0).astype('int')

0         2
1         3
2        10
3         2
4         3
         ..
19505     3
19506     3
19507     2
19508     4
19509     2
Name: name, Length: 19510, dtype: int64

In [147]:
df.insert(3, 'bhk', df['name'].str.split(' ').str.get(0).astype('int'))
df.head(3)

,link,property_type,name,bhk,area,society_name,locality,city,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,status.1,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,2,"1,120 sq ft",NaN,Asmangarh,Hyderabad,58LEMINegotiable,"5,178/ sq ft the price/ sq ft of this propert...",Ready to move,Resale,Yes,12 - 13 years,2.0,NaN,4th of 6,"5,00,000",1.0,1 rooms(pooja room),No Deposit,Semi-Furnished,NaN,North,Road View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']
1,https://www.makaan.com/hyderabad/asbl-asbl-spi...,Apartment,3 BHK Apartment,3,"1,905 sq ft",ASBL ASBL Spire,Kokapet,Hyderabad,1.39CrEMINegotiable,"7,349/ sq ft the price/ sq ft of this propert...",Under Construction,New,Yes,NaN,3.0,NaN,9th of 36,NaN,NaN,NaN,No Deposit,Unfurnished,NaN,NaN,NaN,Freehold,['[]'],NaN
2,https://www.makaan.com/hyderabad/builder-proje...,Independent House,10 BHK Independent House,10,"14,400 sq ft",NaN,Banjara Hills,Hyderabad,17.47CrEMI,"12,131/ sq ft the price/ sq ft of this proper...",Ready to move,Resale,No,NaN,11.0,14400 sq ft,NaN,NaN,NaN,NaN,No Deposit,Semi-Furnished,NaN,North,NaN,NaN,['[]'],NaN

### 3. area

In [148]:
df['area'].unique()

array(['1,120 sq ft', '1,905 sq ft', '14,400 sq ft', ..., '954 sq ft',
       '510 sq ft', '6,105 sq ft'], dtype=object)

In [149]:
df['area'] = df['area'].str.split(' ').str.get(0).str.replace(',', '').astype('float')
df.head(3)

,link,property_type,name,bhk,area,society_name,locality,city,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,status.1,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,2,1120.0,NaN,Asmangarh,Hyderabad,58LEMINegotiable,"5,178/ sq ft the price/ sq ft of this propert...",Ready to move,Resale,Yes,12 - 13 years,2.0,NaN,4th of 6,"5,00,000",1.0,1 rooms(pooja room),No Deposit,Semi-Furnished,NaN,North,Road View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']
1,https://www.makaan.com/hyderabad/asbl-asbl-spi...,Apartment,3 BHK Apartment,3,1905.0,ASBL ASBL Spire,Kokapet,Hyderabad,1.39CrEMINegotiable,"7,349/ sq ft the price/ sq ft of this propert...",Under Construction,New,Yes,NaN,3.0,NaN,9th of 36,NaN,NaN,NaN,No Deposit,Unfurnished,NaN,NaN,NaN,Freehold,['[]'],NaN
2,https://www.makaan.com/hyderabad/builder-proje...,Independent House,10 BHK Independent House,10,14400.0,NaN,Banjara Hills,Hyderabad,17.47CrEMI,"12,131/ sq ft the price/ sq ft of this proper...",Ready to move,Resale,No,NaN,11.0,14400 sq ft,NaN,NaN,NaN,NaN,No Deposit,Semi-Furnished,NaN,North,NaN,NaN,['[]'],NaN

### 4. society_name

In [150]:
df['society_name'].unique()

array([nan, 'ASBL ASBL Spire', 'Prajay Virgin County Villas', ...,
       'Appam Venkatesh Sri Dharmasastra Enclave', 'AV Info Pride',
       'Vishwa Bobbys Rhythm'], dtype=object)

In [151]:
df['society_name'].isnull().sum()

np.int64(10563)

In [152]:
df['society_name'] = df['society_name'].str.strip().str.title()
df.head(3)

,link,property_type,name,bhk,area,society_name,locality,city,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,status.1,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,2,1120.0,NaN,Asmangarh,Hyderabad,58LEMINegotiable,"5,178/ sq ft the price/ sq ft of this propert...",Ready to move,Resale,Yes,12 - 13 years,2.0,NaN,4th of 6,"5,00,000",1.0,1 rooms(pooja room),No Deposit,Semi-Furnished,NaN,North,Road View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']
1,https://www.makaan.com/hyderabad/asbl-asbl-spi...,Apartment,3 BHK Apartment,3,1905.0,Asbl Asbl Spire,Kokapet,Hyderabad,1.39CrEMINegotiable,"7,349/ sq ft the price/ sq ft of this propert...",Under Construction,New,Yes,NaN,3.0,NaN,9th of 36,NaN,NaN,NaN,No Deposit,Unfurnished,NaN,NaN,NaN,Freehold,['[]'],NaN
2,https://www.makaan.com/hyderabad/builder-proje...,Independent House,10 BHK Independent House,10,14400.0,NaN,Banjara Hills,Hyderabad,17.47CrEMI,"12,131/ sq ft the price/ sq ft of this proper...",Ready to move,Resale,No,NaN,11.0,14400 sq ft,NaN,NaN,NaN,NaN,No Deposit,Semi-Furnished,NaN,North,NaN,NaN,['[]'],NaN

### 5. locality

In [153]:
df['locality'].unique()

array(['Asmangarh', 'Kokapet', 'Banjara Hills', 'Kollur', 'Ameenpur',
       'Maheshwaram', 'Narsingi', 'Yousufguda', 'Tellapur', 'Suraram',
       'Hayathnagar', 'Nanakramguda', 'Vanasthalipuram', 'Bolarum',
       'Pragathi Nagar Kukatpally', 'Padmarao Nagar', 'Jubilee Hills',
       'Serilingampally', 'Nallagandla Gachibowli', 'Manikonda',
       'Gundlapochampally', 'Isnapur', 'Bachupally', 'Bowenpally',
       'Malkajgiri', 'Moosapet', 'Patancheru', 'Bundalguda',
       'Hitech City', 'nizampet road', 'Kukatpally', 'Lallaguda',
       'Kompally', 'Kondapur', 'Aminpur', 'Attapur', 'Chandanagar',
       'Puppalaguda', 'Kalasiguda', 'Adibatla', 'Peerzadiguda',
       'Himayat Nagar', 'Boduppal', 'Miyapur', 'Manchirevula', 'Velimela',
       'Satya Nagar Colony', 'Shadnagar', 'Mokila', 'Krishna Reddy Pet',
       'Gajulramaram Kukatpally', 'Dammaiguda', 'AS Rao Nagar',
       'Deluxe Colony', 'Sadashivpet', 'Yapral', 'LB Nagar', 'Beeramguda',
       'Osman Nagar', 'Annajiguda', 'Harshaguda',
       'Katedan Industrial Area', 'Nandigama', 'East Marredpally',
       'Nizampet', 'Hyderguda', 'Safilguda', 'Gandhamguda Road',
       'Habsiguda', 'Kapra', 'Gandipet', 'B N reddy nagar', 'Madhapur',
       'AHS Colony', 'Narayanguda', 'Bandlaguda Jagir',
       'Appa Junction Peerancheru', 'Gandi Maisamma', 'Chinthal',
       'Cherlapalli', 'Gachibowli', 'Nagole', 'Bowrampet',
       'ECIL Main Road', 'Khajiguda', 'Ibrahimpatnam', 'Adibhatla',
       'Neknampur', 'Gajularamaram', 'Defence Colony', 'Premavathi Pet',
       'Dilsukh Nagar', 'IDA Pashamylaram', 'Pati', 'Lakdikapul',
       'Hyder Nagar', 'Janawada', 'Ghatkesar', 'Ameerpet', 'Muthangi',
       'Ibrahim Bagh', 'Shamirpet', 'Rameshwaram Banda', 'Tukkuguda',
       'Indresham', 'Dundigal', 'Gowdavalli', 'Ahmed Nagar', 'Kardhanur',
       'Panjagutta', 'Mallapur', 'Linghampally', 'Pocharam', 'Sainikpuri',
       'Panchavati Colony', 'Saidabad', 'Uppal',
       'Central Excise Colony Hyderabad', 'Nallakunta',
       'Sri Nagar Colony', 'Nagaram', 'Bongloor', 'Hafeezpet', 'Nandigam',
       'Kadthal', 'Rajendra Nagar', 'Almasguda', 'Medchal', 'Uppal Kalan',
       'muthangi', 'Icon Hospital Road', 'Nacharam', 'Alwal',
       'Bahadurpally', 'Rampally', 'Appa Junction', 'Raviryal',
       'Suchitra', 'Ashok Nagar', 'Bollaram Industrial Area',
       'Shamshabad', 'Mallampet', 'Velmala', 'Lemoor', 'Kachiguda',
       'Ramachandrapuram', 'Dr AS Rao Nagar Rd', 'financial District',
       'Mehdipatnam', 'Kismatpur', 'Old Bowenpally', 'Patighanpur',
       'Trimalgherry', 'Gundlapochampalli', 'Sangareddy', 'Bapu Nagar',
       'Tarnaka', 'Ramachandra Puram', 'Keesara',
       'Miyapur HMT Swarnapuri Colony', 'Shaikpet', 'Chengicherla',
       'Annojiguda', 'Pedda Amberpet', 'Malakpet', 'NEW MALAKPET',
       'Kistareddypet', 'Usman Nagar', 'Gaddi Annaram', 'R C Puram',
       'Bhanur', 'Upperpally', 'Somajiguda', 'Balkampet', 'Achyuthpuram',
       'Akbarpura', 'Yamnampet', 'Auto Nagar', 'Shankarpalli',
       'Mettuguda', 'Kongara', 'Falaknuma', 'Sainathapuram',
       'Kanchan Bagh', 'Gopanpally', 'Kothur', 'Mansoorabad',
       'Hastinapuram', 'Moula Ali', 'Begumpet', 'Gagillapur',
       'West Marredpally', 'Balaji Nagar', 'Jeedimetla', 'Tatianaram',
       'Amberpet', 'Basheer Bagh', 'Sitaphalmandi', 'Domalguda',
       'Meerpet', 'Khanamet', 'Gandhi Nagar', 'ECIL', 'Sultanpur',
       'Patrika Nagar', 'Padma Colony', 'Abids Road', 'Moinabad',
       'Kothapet', 'Charminar', 'Pasumamula', 'Hanamkonda',
       'Kongara Kalan', 'Mamidipalli', 'KPHB', 'Boduppal Road', 'Adikmet',
       'Film Nagar', 'Dr A S Rao Nagar Rd', 'Mahendra Hills', 'Bollarum',
       'Rudraram', 'HMT Swarnapuri Colony Hyderabad', 'Toli Chowki',
       'Alkapur township', 'Punjagutta', 'Moti Nagar', 'Narsapur',
       'Kundanpally', 'Gaghan Pahad', 'Jam Bagh', 'Srinagar Colony Road',
       'Budvel', 'Saroor Nagar', 'Ramanthapur', 'Balapur',
       'Cyber Enclave', 'Saidabad Colony Road', 'Nadergul', 'Gurram Guda',
       'Sanath Nagar', 'Bairagiguda', 'Kandukur', 'Ayodhya Nagar Colony',
       'Yellareddy Guda', 'Miyapur Main Road', 'Geetha Nagar',
       'Nagulapally', 'Arjun Nagar', 'Triveni Nagar', 'Mucherla',
       'Mailardevpally', 'Vijaya Nagar Colony', 'Abids', 'Himayatnagar',
       'Achi Reddy Nagar', 'Chikkadapally', 'Yamjal',
       'Basuragadi Village', 'Muraharipally', 'Izzathnagar', 'Kushaiguda',
       'Reddy Colony DrReddys Enclave', 'Turkapally',
       'Pocharam Near Muthangi', 'Geetha Nagar Colony', 'Pragati Nagar',
       'AC Guards Road', 'CMC Enclave', 'Hari Hara Puram', 'SBH Colony',
       'Khajaguda Nanakramguda Road', 'Gopanapalli', 'BHEL',
       'Janachaitanya Colony', 'Karmanghat', 'Srisailam Highway',
       'Lakdaram', 'Tankbund road', 'Golnaka', 'Sanath Nagar Road',
       'Brundavan Colony', 'Sita Meadows', 'Rani Gunj', 'Santoshnagar',
       'Shankarpalli Road', 'Neredmet', 'Bandam Kommu',
       'Venkat Reddy Colony', 'Aziz Bagh', 'Ameenpur Village Patancheru',
       'Kothaguda', 'BT Road', 'Saroornagar', 'Ahmedguda',
       'Syed Ali Guda', 'Boduppal Dwaraka Nagar', 'Near Chandana Brother',
       'Dulapally', 'Quthbullapur', 'Chevella', 'Sun City',
       'Maruthi Nagar', 'Kamalaprasad Nagar', 'Suvarna Valley Hyderabad',
       'Gurramguda', 'Chintalmet', 'Mahadevpur Colony', 'Narepally',
       'Pragathi Nagar', 'Aishwarya Plaza', 'Chilkanagar',
       'Qutub Shahi Tombs', 'Dullapally', 'Tolichowki Road',
       'Bonthapalle', 'Madinaguda', 'HMT Swarnapuri Colony',
       'Adams Colony', 'Turkayamjal', 'BB Nagar', 'Karkhana',
       'Triveninagar', 'Medipally', 'raidurgam', 'TurkaYamjal',
       'Gowlidody', 'Akhilandeswari Nagar', 'Afzalgunj', 'Domalguda Road',
       'Red Hills', 'Shanti Nagar', 'Sri Sai Ram Residency Kistareddypet',
       'Jagadgiri Gutta', 'Mamidipally', 'Ammuguda', 'Nedunur',
       'Neeladri Nagar', 'Hakeempet', 'Shivam Road  Amberpet',
       'Mansanpally', 'Balanagar', 'Creek School Road', 'Matrusri Nagar',
       'Kavuri Hills', 'Jalapalli', 'Mankhal', 'Gagan Mahal Domalguda',
       'Kavadiguda', 'Sai Aishwarya Layout', 'Chitkul', 'Kowkur',
       'Blooming Meadows', 'Annojiguda Village', 'Ahilya Nagar',
       'MES Colony', 'BHEL OLD MIG', 'Namala Gundu', 'Borabanda',
       'Dr.Reddys Enclave', 'CPI Colony', 'Akbarbagh', 'Golconda Fort',
       'HMT Nagar', 'Badangpet', 'Aziz Bagh Colony', 'Tilak Nagar',
       'Vasanth Nagar Colony', 'Chinthal Basthi', 'Ramnagar Hyderabad',
       'Ghori Nagar', 'Chintalakunta', 'Manneguda', 'Erragadda',
       'DLR Enclave', 'Chanakyapuri', 'Chilakalguda', 'Fatehdarwaza',
       'Jai Suryapatnam', 'Shankarpally Road', 'New Bowenpally X Road',
       'Alkapoor', 'Nacharam Mandal', 'Hyder nagar kphb colony',
       'Secretariat', 'Annaram', 'Kanajiguda', 'First Lancer Road',
       'Sadasivpet', 'Cheeriyal', 'Azampura', 'Doodh Bowli', 'Ghanpur',
       'Malla Reddy Nagar', 'Tirumalgiri', 'Toroor', 'Gandimaisamma',
       'Cityzen Colony', 'Ayyappa Society Main Road', 'Camelot Layout',
       '6th Phase KPHB', 'Masjid Banda', '7 Tombs Road',
       'Yapral Main Road', 'Moosarambagh Road', 'Moulali',
       'Muzaffar Ahmad Nagar', 'Buddha Nagar', 'Dindigal', 'Aushapur',
       'Venkatraya Nagar', 'Sanga Reddy', 'Zaheerabad', 'Vidya nagar',
       'Kowkoor village', 'DLF Cyber City', 'kuntloor', 'Khazaguda',
       'Feroz Gandhi Nagar', 'Kishan Bagh', 'IDPL Colony',
       'BSMaktha Somajiguda', 'Patancheru Mandal', 'Budhanagar',
       'Aurora Colony', 'Afzal Gunj', 'Kondakal', 'Hosur',
       'Madhura Nagar', 'Marredpally', 'BM Nagar',
       'Nagole Bandlaguda Road', 'Caton Residential Township',
       'Langer House', 'Nadargul Road', 'Koheda', 'East Anand Bagh Road',
       'Humayunagar', 'Laxmiguda', 'AS Rao Nagar Hyderabad', 'Boiguda',
       'DK Road', 'Old Bhoiguda', 'Fair Lands', 'Bibinagar',
       'Saptagiri Colony', 'Saleem Nagar', 'Bhadurpalle', 'Sitaram Nagar',
       'Bollaram', 'Old Alwal', 'Ayodhya Nagar', 'Nagarjuna Sagar Road',
       'Hydershakote', 'Diamond Hill Colony', 'Csr Real Estate',
       'Old Malakpet', 'Ghanpur East Hyderabad', 'IDA Mallapur',
       'Begum Bazar Chatri', 'Asif Nagar', 'Mallepally', 'GPR Layout',
       'Dynamics Colony', 'Bandlaguda Road', 'HMT Colony', 'Whitefields',
       'Nampally', 'Aeronagar Hal Employees Colony', 'Meerkhanpet',
       'Bahadurpura', 'Attapur Ring Road', 'Jupiter Colony Secunderabad',
       'Doyens Colony', 'Risala Bazar', 'Whitefield', 'Janapriya Nagar',
       'Bogulkunta', 'Alkapur', 'DRDL Main Road', 'Krishna Nagar Colony',
       'CIEFL Colony', 'Hyd Banglore Highway', 'Huda Layout',
       'Dwarkamai Nagar Colony', 'Shastripuram Road', 'Nallagandla Road',
       'Macha Bolarum', 'Gundrampally', 'Miyapur Bachupally Road',
       'Gattapally', 'Telephone colony', 'Jawahar nagar', 'Pashamailaram',
       'BN Reddy Road', 'Diamond Point Road', 'Murad Nagar',
       'Musheerabad', 'Sai Baba Nagar', 'Apurupa Colony', 'Hanuman Nagar',
       'Hafiz Baba Nagar', 'Chandanagar Vill',
       'Afzal Nagar Malakpet Extension', 'Dwarakamai Nagar',
       'Akash Nagar', 'Asmangadh', 'Avenue 4', 'Peeramcheru',
       'Lingampally', 'Suncity Road', 'Filmcity', 'Dwarakapuri',
       'Vasanth nagar', 'Whisper Valley', 'hyderabad', 'Ayyappa Society',
       'Vijay Nagar Colony Road', 'Sun City Padmasri Estates',
       'Adarsh Nagar', 'Ghansi Bazaar', 'Trimulgherry', 'Durganagar',
       'Ajantha Colony', 'Chintradripet', 'SBI Executive Enclave',
       'Seethaphal Mandi', 'Spring Fields Colony', 'Kollur Road',
       'Vattinagulapally', 'Aghapura', 'Masab Tank', 'Alair',
       'Green Town', 'Brahmanwadi', 'Donga Road', 'Hill Top Colony',
       'East Balaji Hill Colony', 'Hakimpet',
       'Hakimpet Hyderabad Karimnagar Highway', 'Munganoor',
       'P Janardhan Reddy Nagar', 'General Bazar', 'Sindhi Colony Road',
       'CEO Enclave', 'Abhyudaya Nagar', 'Rajendranagar mandal',
       'Old Nallakunta', 'Dream Valley', 'Dhobipet',
       'Near Loyola Academy', 'Khairatabad Road', 'Ahmad Colony',
       'AGI Colony', 'Thummaloor', 'Suraram Colony', 'Pathar Gatti',
       'Nagaram Village', 'Castle Hills', 'Shaheen Nagar',
       'GR Reddy Nagar', 'Cyber Hills', 'Kukatpally Housing Board Colony',
       'Green Park', 'Opp Airport Road', 'Zamistanpur',
       'Deepthisri Nagar', 'Nagulapalli', 'Dabeerpura',
       'Cyprus Palms Road', 'A C Guards', 'Beverly Hills', 'Jadcherla',
       'Cyber City', 'Brundavan Colony Road', 'Anitha Nagar', 'Digwal',
       'Mokila Road', 'Creative Nagar', 'Hosnabad Colony', 'Ajay Nagar',
       'BM Nagar Hyderabad', 'Sathamrai Village', 'Yadagirigutta',
       'Kuntloor Road', 'HMT Hills', 'New Bhoiguda',
       'Akshvani Nagar Colony', 'Sirigiripuram', 'PJR Enclave Road',
       'RTC X Roads', 'Patancheru Shankarpalli Road',
       'Clock Tower Second Bazaar Area', 'Kakatiya Hills', 'Devi Bagh',
       'Rallaguda', 'Gyandev Sangam Nagar', 'Ahmed Colony Hyderabad',
       'Jai Hind Nagar Road', 'Venkatapuram', 'Bhongir', 'Baghdad Colony',
       'Siddipet', 'Dowa', 'ICRISAT Colony Phase 2', 'Dhana Laxmi Nagar',
       'HB Colony Main Road', 'Aero Nagar', 'Ahmednagar Colony',
       'HCL Nagar', 'Vattepally', 'Rambagh Colony', 'Happy Homes Colony',
       'Raghavendra Colony', 'HMT Road', 'Azad Nagar', 'SPF Academy Road',
       'Canara Nagar', 'Agashivnagar', 'Rai Durg', 'Thimmapur',
       'Phase III', 'Vikarabad', 'Azamabad',
       'Shaheen Nagar Habeeb Colony', 'Gyan Sagar', 'Siddharth Nagar',
       'Auronautic Enclave', 'Mahabubnagar', 'Narapally',
       'Friends Colony', 'Afzal Nagar', 'Avanthi Nagar',
       'Sanjeeva Reddy Nagar', 'Capri Towers', 'Upparpally',
       'Sultan Bazaar', 'Malikdanguda', 'GPRA Campus Road',
       'Arunodaya Nagar', 'Ayyappa Society Road', 'Koti',
       'Nagaram Hyderabad South', 'Aremaishamma', 'Abhudaya Nagar Colony',
       'ICRISAT Enclave', 'CCMB Colony', 'Dawoodkhanguda',
       'High Tension Line Road', 'Bhuvanagiri',
       'Gyan Bagh Colony Goshamahal', 'Alipura',
       'Jaipuri Colony Ajay Nagar', 'Central Main Road', 'Dwarka Nagar',
       'Fedak Inclave', 'Bus Stop Road No 1', 'Hmbs Colony', 'feelkhana',
       'SD Road', 'Tirumala Nagar', 'Champapet', 'Getwel Pedchet Road',
       'DK Enclave', 'Banjara Hills Road Number 12', 'Bala Nagar',
       'AOF Church Road', 'Ghouse Nagar', 'Akbar Hills', 'Surangal',
       'Risala Abdullah Colony', 'Doolapally', 'Narsingh', 'Avanti Nagar',
       'Cyber Village', 'Giani Zail Singh Nagar', 'Bogaram', 'Sreenagar',
       'Lalapet Flyover', 'ICRISAT Colony', 'Hasmathpet',
       'Mallikarjuna Nagar', 'Dwarkapur Colony', 'Durga Nagar',
       'Dr A S Rao Nagar', 'Old Safli Guda', 'Venkat Nagar Colony',
       'Fortune Enclave', 'Geological Survey Of India Colony',
       'Kondapur Main', 'Czech Colony Hyderabad', 'Medchal Road',
       'Puranapool', 'ICRISAT', 'AWHO Colony', 'Yadamma Nagar', 'Addakan',
       'Adda Gutta', 'AG Colony', 'CBCID Colony', 'Rajeev Nagar',
       'ayodhya villas', 'Janwada Road', 'BSP Colony', 'Ferozguda',
       'South Kamala Nagar', 'Rail Vihar', 'DSNR', 'Keesara Daira',
       'Ayyappa Swamy Temple Road', 'Gudimalkapur',
       'Phase-1 Vanasthalipuram', 'Thumkunta', 'Coca Cola Road',
       'CBI Colony', 'Kurmaguda', 'Flamingo', 'Fateh Nagar',
       'Shaili Gardens', 'Dream Valley Road', 'IPM Blood Bank Colony',
       'APGOs Coop HSG Society', 'Brindavan Colony', 'Chowdariguda',
       'Gulmohar Park Colony', 'Netaji Nagar', 'Pragathi Nagar Main',
       'Adarsh Nagar Colony'], dtype=object)

In [154]:
df['locality'] = df['locality'].str.strip().str.title()
df.head(3)

,link,property_type,name,bhk,area,society_name,locality,city,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,status.1,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,2,1120.0,NaN,Asmangarh,Hyderabad,58LEMINegotiable,"5,178/ sq ft the price/ sq ft of this propert...",Ready to move,Resale,Yes,12 - 13 years,2.0,NaN,4th of 6,"5,00,000",1.0,1 rooms(pooja room),No Deposit,Semi-Furnished,NaN,North,Road View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']
1,https://www.makaan.com/hyderabad/asbl-asbl-spi...,Apartment,3 BHK Apartment,3,1905.0,Asbl Asbl Spire,Kokapet,Hyderabad,1.39CrEMINegotiable,"7,349/ sq ft the price/ sq ft of this propert...",Under Construction,New,Yes,NaN,3.0,NaN,9th of 36,NaN,NaN,NaN,No Deposit,Unfurnished,NaN,NaN,NaN,Freehold,['[]'],NaN
2,https://www.makaan.com/hyderabad/builder-proje...,Independent House,10 BHK Independent House,10,14400.0,NaN,Banjara Hills,Hyderabad,17.47CrEMI,"12,131/ sq ft the price/ sq ft of this proper...",Ready to move,Resale,No,NaN,11.0,14400 sq ft,NaN,NaN,NaN,NaN,No Deposit,Semi-Furnished,NaN,North,NaN,NaN,['[]'],NaN

### 6. price

In [155]:
df['price'].unique()

array(['58LEMINegotiable', '1.39CrEMINegotiable', '17.47CrEMI', ...,
       '70.1LEMI', '9.15CrEMI', '57.78LEMI'], dtype=object)

In [156]:
# Function to extract price and convert to lakhs
def clean_and_treat_price(price_str):
    if pd.isna(price_str):
        return None
    price_str = str(price_str)
    match = re.search(r'(\d+\.?\d*)(Cr|L)', price_str)
    if match:
        value = float(match.group(1))
        unit = match.group(2)

        # Convert to lakhs
        if unit == 'Cr':
            return value 
        elif unit == 'L':
            return round(value / 100, 2)
    return None

In [157]:
df['price'].apply(clean_and_treat_price)

0         0.58
1         1.39
2        17.47
3         0.45
4         0.77
         ...
19505     0.93
19506     1.20
19507     0.32
19508     1.80
19509     1.60
Name: price, Length: 19510, dtype: float64

In [158]:
df.insert(8, 'price_in_crore', df['price'].apply(clean_and_treat_price))
df.head(3)

,link,property_type,name,bhk,area,society_name,locality,city,price_in_crore,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,status.1,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,2,1120.0,NaN,Asmangarh,Hyderabad,0.58,58LEMINegotiable,"5,178/ sq ft the price/ sq ft of this propert...",Ready to move,Resale,Yes,12 - 13 years,2.0,NaN,4th of 6,"5,00,000",1.0,1 rooms(pooja room),No Deposit,Semi-Furnished,NaN,North,Road View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']
1,https://www.makaan.com/hyderabad/asbl-asbl-spi...,Apartment,3 BHK Apartment,3,1905.0,Asbl Asbl Spire,Kokapet,Hyderabad,1.39,1.39CrEMINegotiable,"7,349/ sq ft the price/ sq ft of this propert...",Under Construction,New,Yes,NaN,3.0,NaN,9th of 36,NaN,NaN,NaN,No Deposit,Unfurnished,NaN,NaN,NaN,Freehold,['[]'],NaN
2,https://www.makaan.com/hyderabad/builder-proje...,Independent House,10 BHK Independent House,10,14400.0,NaN,Banjara Hills,Hyderabad,17.47,17.47CrEMI,"12,131/ sq ft the price/ sq ft of this proper...",Ready to move,Resale,No,NaN,11.0,14400 sq ft,NaN,NaN,NaN,NaN,No Deposit,Semi-Furnished,NaN,North,NaN,NaN,['[]'],NaN

### 7. price_per_sqft

In [159]:
df['price_per_sqft']

0         5,178/ sq ft the price/ sq ft of this propert...
1         7,349/ sq ft the price/ sq ft of this propert...
2         12,131/ sq ft the price/ sq ft of this proper...
3         3,401/ sq ft the price/ sq ft of this propert...
4         4,799/ sq ft the price/ sq ft of this propert...
                               ...
19505     5,799/ sq ft the price/ sq ft of this propert...
19506     6,451/ sq ft the price/ sq ft of this propert...
19507     3,742/ sq ft the price/ sq ft of this propert...
19508     5,921/ sq ft the price/ sq ft of this propert...
19509     12,800/ sq ft the price/ sq ft of this proper...
Name: price_per_sqft, Length: 19510, dtype: object

In [160]:
df['price_per_sqft'] = df['price_per_sqft'].str.split('/').str.get(0).str.replace(',','').astype('float')
df.head(3)

,link,property_type,name,bhk,area,society_name,locality,city,price_in_crore,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,status.1,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,2,1120.0,NaN,Asmangarh,Hyderabad,0.58,58LEMINegotiable,5178.0,Ready to move,Resale,Yes,12 - 13 years,2.0,NaN,4th of 6,"5,00,000",1.0,1 rooms(pooja room),No Deposit,Semi-Furnished,NaN,North,Road View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']
1,https://www.makaan.com/hyderabad/asbl-asbl-spi...,Apartment,3 BHK Apartment,3,1905.0,Asbl Asbl Spire,Kokapet,Hyderabad,1.39,1.39CrEMINegotiable,7349.0,Under Construction,New,Yes,NaN,3.0,NaN,9th of 36,NaN,NaN,NaN,No Deposit,Unfurnished,NaN,NaN,NaN,Freehold,['[]'],NaN
2,https://www.makaan.com/hyderabad/builder-proje...,Independent House,10 BHK Independent House,10,14400.0,NaN,Banjara Hills,Hyderabad,17.47,17.47CrEMI,12131.0,Ready to move,Resale,No,NaN,11.0,14400 sq ft,NaN,NaN,NaN,NaN,No Deposit,Semi-Furnished,NaN,North,NaN,NaN,['[]'],NaN

### 8. age_of_property

In [161]:
df['age_of_property'].unique()

array(['12 - 13 years', nan, '5 - 6 years', '1 - 2 years',
       '10 - 11 years', '2 - 3 years', '9 - 10 years', '8 - 9 years',
       '6 - 7 years', '13 - 14 years', '0 - 1 year', '7 - 8 years',
       '4 - 5 years', '1 year', '14 - 15 years', '9 years', '7 years',
       '3 - 4 years', '6 years', '17 - 18 years', '11 - 12 years',
       '4 years', '13 years', '8 years', '22 - 23 years', '18 - 19 years',
       '20 - 21 years', '17 years', '14 years', '2 years',
       '16 - 17 years', '27 years', '11 years', '15 - 16 years',
       '19 years', '24 - 25 years', '31 years', '23 - 24 years',
       '3 years', '19 - 20 years', '124 - 125 years', '30 years',
       '5 years', '10 years', '50 - 51 years', '21 - 22 years',
       '28 - 29 years', '20 years', '18 years', '30 - 31 years',
       '25 - 26 years', '16 years', '37 - 38 years', '15 years',
       '12 years', '33 - 34 years'], dtype=object)

In [162]:
def categorize_age(age):
    if pd.isnull(age):
        return 'Unknown'
    if '-' in age:  
        years = list(map(int, age.replace(' years', '').replace(' year', '').split(' - ')))
        parsed_age =  math.ceil(sum(years) / len(years)) 
    elif 'year' in age:  
        parsed_age =  int(age.replace(' years', '').replace(' year', '').strip())  

    # Categorize the parsed age
    if parsed_age <= 5:
        return 'New Property'
    elif 6 <= parsed_age <= 10:
        return 'Moderately New Property'
    elif 11 <= parsed_age <= 50:
        return 'Old Property'
    else:
        return 'Very Old Property'

In [163]:
df['age_of_property'] = df['age_of_property'].apply(categorize_age)
df['age_of_property'].value_counts()

age_of_property
Unknown                    13636
New Property                3162
Moderately New Property     2034
Old Property                 674
Very Old Property              4
Name: count, dtype: int64

In [164]:
df.head(2)

,link,property_type,name,bhk,area,society_name,locality,city,price_in_crore,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,status.1,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,2,1120.0,NaN,Asmangarh,Hyderabad,0.58,58LEMINegotiable,5178.0,Ready to move,Resale,Yes,Old Property,2.0,NaN,4th of 6,"5,00,000",1.0,1 rooms(pooja room),No Deposit,Semi-Furnished,NaN,North,Road View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']
1,https://www.makaan.com/hyderabad/asbl-asbl-spi...,Apartment,3 BHK Apartment,3,1905.0,Asbl Asbl Spire,Kokapet,Hyderabad,1.39,1.39CrEMINegotiable,7349.0,Under Construction,New,Yes,Unknown,3.0,NaN,9th of 36,NaN,NaN,NaN,No Deposit,Unfurnished,NaN,NaN,NaN,Freehold,['[]'],NaN

### 9. carpet_area

In [165]:
df['carpet_area'].unique()

array([nan, '14400 sq ft', '6000 sq ft', ..., '1858 sq ft', '1242 sq ft',
       '3870 sq ft'], dtype=object)

In [166]:
df['carpet_area'] = df['carpet_area'].str.split(' ').str.get(0).astype('float')
df[~df['carpet_area'].isnull()].head(3)

,link,property_type,name,bhk,area,society_name,locality,city,price_in_crore,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,status.1,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
2,https://www.makaan.com/hyderabad/builder-proje...,Independent House,10 BHK Independent House,10,14400.0,NaN,Banjara Hills,Hyderabad,17.47,17.47CrEMI,12131.0,Ready to move,Resale,No,Unknown,11.0,14400.0,NaN,NaN,NaN,NaN,No Deposit,Semi-Furnished,NaN,North,NaN,NaN,['[]'],NaN
8,https://www.makaan.com/hyderabad/builder-proje...,Independent House,8 BHK Independent House,8,6500.0,NaN,Yousufguda,Hyderabad,1.45,1.45CrEMINegotiable,2230.0,Ready to move,New,Yes,Old Property,8.0,6000.0,NaN,"5,00,000",4.0,1 rooms(servant room),No Deposit,Unfurnished,NaN,West,NaN,NaN,['[24 X 7 Security]'],"['[BED, Wifi]']"
9,https://www.makaan.com/hyderabad/my-home-const...,Apartment,3 BHK Apartment,3,1840.0,My Home Tridasa,Tellapur,Hyderabad,1.80,1.8CrEMI,9782.0,Ready to move,New,No,Unknown,3.0,1600.0,NaN,NaN,NaN,NaN,No Deposit,Unfurnished,P01100001916,West,NaN,NaN,"['[Gymnasium, Lift(s), Swimming Pool, Full Pow...",NaN

### 10. floor

In [167]:
df['floor'].unique()

array(['4th of 6', '9th of 36', nan, '1st of 5', '7th of 30', '4th of 5',
       '10th of 11', '2nd of 10', '2nd of 5', '2nd of 8', '1st of 3',
       '7th of 18', '3rd of 10', '13th of 20', '20th of 30', '3rd of 8',
       '2nd of 2', '2nd of 18', '17th of 27', '5th of 35', '16th of 35',
       '5th of 10', '14th of 14', '2nd of 7', '6th of 35', '34th of 35',
       '14th of 18', '5th of 13', '1st of 7', '10th of 21', '1st of 10',
       '1st of 8', '1st of 11', '7th of 13', '3rd of 5', '2nd of 6',
       '5th of 20', '7th of 14', '6th of 31', '7th of 35', '5th of 5',
       '12th of 24', '3rd of 3', '18th of 19', '9th of 10', '6th of 10',
       '6th of 19', '7th of 10', '19th of 49', '18th of 30', '7th of 19',
       '6th of 18', '10th of 25', '22nd of 25', '3rd of 20', '5th of 12',
       '11th of 16', '2nd of 14', '4th of 9', '11th of 32', '27th of 62',
       '3rd of 18', '6th of 15', '4th of 4', '3rd of 16', '2nd of 3',
       '8th of 18', '4th of 10', '2nd of 32', '5th of 8', '6th of 13',
       '5th of 9', '1st of 4', '1st of 42', '4th of 16', '1st of 2',
       '2nd of 16', '1st of 9', '1st of 15', '3rd of 14', '8th of 35',
       '5th of 16', '9th of 22', '3rd of 7', '27th of 30', 'Gr of 4',
       '3rd of 12', '4th of 11', '4th of 8', '2nd of 25', '8th of 16',
       '2nd of 4', '8th of 10', '4th of 32', '7th of 15', '13th of 34',
       '6th of 6', '38th of 62', '13th of 15', '5th of 6', '9th of 16',
       '11th of 35', '8th of 15', '17th of 32', '13th of 17', '4th of 20',
       '22nd of 27', '22nd of 23', '1st of 14', '2nd of 9', '27th of 33',
       '1st of 6', '8th of 14', 'Gr of 5', '3rd of 21', '7th of 25',
       '17th of 30', '24th of 42', '5th of 18', '14th of 24', '9th of 18',
       '9th of 15', '7th of 16', '8th of 13', '3rd of 4', '13th of 16',
       '6th of 11', '16th of 33', '4th of 18', '16th of 30', '39th of 42',
       '8th of 11', 'Gr', '5th of 42', '11th of 22', '7th of 12',
       '3rd of 6', '4th of 19', '11th of 15', '13th of 14', '23rd of 30',
       '5th of 32', '21st of 30', '4th of 24', '6th of 36', '2nd of 15',
       '10th of 22', '15th of 20', '11th of 20', '21st of 32', 'Gr of 27',
       '23rd of 25', '8th of 22', '5th of 14', '10th of 28', '15th of 23',
       '4th of 13', '6th of 12', '5th of 23', '15th of 27', '12th of 15',
       '7th of 17', '11th of 14', '46th of 49', '22nd of 34', '6th of 21',
       '5th of 11', '18th of 62', '43rd of 49', '10th of 20', '6th of 20',
       '15th of 24', 'Gr of 1', '42nd of 44', '10th of 15', '3rd of 15',
       '8th of 24', '6th of 14', '28th of 30', '17th of 35', '1st of 22',
       '17th of 18', '21st of 27', '8th of 32', '24th of 30', '8th of 19',
       '14th of 30', '9th of 35', '4th of 12', '4th of 35', '12th of 14',
       '19th of 36', '14th of 15', '9th of 17', '22nd of 30',
       '30th of 30', '1st of 18', '8th of 12', '19th of 20', '48th of 49',
       '21st of 42', '3rd of 36', '16th of 24', '21st of 35', '2nd of 19',
       '12th of 18', '6th of 30', 'Gr of 2', '2nd of 11', '8th of 17',
       '14th of 20', '23rd of 27', '10th of 14', '4th of 14',
       '27th of 27', '14th of 16', '1st of 20', 'Gr of 3', '21st of 24',
       '12th of 30', '18th of 24', '6th of 16', '8th of 21', '10th of 35',
       '6th of 8', '11th of 24', '7th of 32', '15th of 16', '10th of 36',
       '9th of 32', '3rd of 30', '2nd of 20', '3rd of 9', '30th of 34',
       '23rd of 23', 'Gr of 10', '7th of 9', '18th of 25', '10th of 17',
       '9th of 24', '15th of 33', '2nd of 27', '18th of 23', '12th of 16',
       '6th of 33', '7th of 8', '8th of 8', '9th of 20', '2nd of 17',
       '12th of 21', '8th of 27', '33rd of 35', '7th of 20', '10th of 19',
       '18th of 42', '6th of 9', '4th of 15', '9th of 19', '26th of 42',
       '21st of 36', '12th of 29', '26th of 36', '4th of 28',
       '24th of 27', '5th of 45', '12th of 26', '2nd of 12', '12th of 42',
       '20th of 24', '6th of 7', '5th of 30', '1st of 12', '7th of 11',
       '19th of 19', '20th of 42', '5th of 15', '15th of 15',
       '17th of 25', '32nd of 35', '10th of 24', '19th of 23',
       '13th of 33', '28th of 32', '17th of 24', '30th of 32',
       '7th of 39', '23rd of 24', '5th of 19', '15th of 34', '20th of 20',
       '18th of 20', '28th of 42', '16th of 36', '26th of 32',
       '13th of 19', '7th of 22', '15th of 35', '40th of 49',
       '14th of 23', '38th of 49', '12th of 19', '41st of 42',
       '23rd of 35', '16th of 18', '14th of 19', '4th of 21',
       '13th of 30', '6th of 22', '7th of 29', '8th of 23', '14th of 42',
       '15th of 50', '22nd of 42', '5th of 17', '20th of 25',
       '10th of 30', '4th of 7', '4th of 29', '12th of 20', '18th of 35',
       '10th of 27', '10th of 12', '14th of 36', '14th of 32',
       '14th of 17', '1st of 16', '38th of 44', '8th of 33', '20th of 32',
       '13th of 18', '18th of 34', '3rd of 19', '8th of 45', '14th of 35',
       '17th of 36', '22nd of 24', '28th of 49', '38th of 42',
       '23rd of 42', '13th of 35', '17th of 20', '17th of 42',
       '4th of 17', '16th of 23', '8th of 29', '9th of 33', '17th of 34',
       '12th of 23', '10th of 13', '30th of 35', '15th of 21',
       '24th of 36', '12th of 34', '3rd of 32', '15th of 22',
       '10th of 16', '7th of 49', '7th of 23', '16th of 27', '11th of 12',
       '13th of 21', '11th of 11', '13th of 26', '11th of 30',
       '8th of 25', '1st of 35', '6th of 24', '15th of 25', '4th of 27',
       '2nd of 13', '21st of 25', 'Gr of 12', '41st of 49', '10th of 10',
       '9th of 11', '17th of 21', '11th of 23', '15th of 19',
       '11th of 18', '20th of 49', '1st of 31', '5th of 28', '19th of 33',
       '20th of 21', '4th of 30', '19th of 21', '17th of 17',
       '18th of 28', '2nd of 21', '9th of 42', '33rd of 34', '36th of 49',
       '1st of 26', '6th of 28', '11th of 13', '22nd of 35', '32nd of 32',
       'Gr of 30', '29th of 49', '34th of 42', '2nd of 24', '2nd of 30',
       '29th of 35', '15th of 32', '22nd of 32', '15th of 29',
       '11th of 25', 'Gr of 15', '5th of 39', '3rd of 24', '12th of 13',
       '20th of 27', '9th of 12', '3rd of 23', '33rd of 39', '29th of 30',
       '20th of 35', '30th of 42', '1st of 30', '11th of 19',
       '28th of 35', '11th of 21', '1st of 17', '12th of 35', '4th of 42',
       '15th of 30', '13th of 22', '5th of 36', '1st of 19', '10th of 29',
       '1st of 23', '10th of 18', '19th of 30', '7th of 27', '10th of 26',
       '7th of 24', '2nd of 39', '1st of 24', '29th of 42', '13th of 36',
       '22nd of 31', '34th of 34', '12th of 25', '1st of 34',
       '31st of 32', '14th of 25', '20th of 23', '17th of 23',
       '19th of 40', '18th of 36', '19th of 35', '19th of 32',
       '8th of 30', '10th of 32', '6th of 25', '34th of 44', '24th of 29',
       '8th of 34', '13th of 42', '9th of 13'], dtype=object)

In [168]:
def extract_floor_number(floor_str):
    if pd.isnull(floor_str):
        return None 

    # Check for "Gr" first
    if "Gr" in floor_str:
        return 0 # Represnt ground floor as 0

    # Use regex to find the first occurrence of a valid floor number
    match = re.match(r'(\d+)(?:st|nd|rd|th)?', floor_str)
    
    if match:
        return int(match.group(1))  # Extract the number before the suffix
    return None  # If no valid match found

In [169]:
df['floor'] = df['floor'].apply(extract_floor_number)
df['floor'].unique()

array([ 4.,  9., nan,  1.,  7., 10.,  2.,  3., 13., 20., 17.,  5., 16.,
       14.,  6., 34., 12., 18., 19., 22., 11., 27.,  8.,  0., 38., 24.,
       39., 23., 21., 15., 46., 43., 42., 28., 30., 48., 33., 26., 32.,
       40., 41., 36., 29., 31.])

### 11. booking_amount

In [170]:
df['booking_amount'].unique()

array([' 5,00,000', nan, ' 4,00,000', ' 10,00,000', ' 1,00,000',
       ' 2,00,000', ' 6,00,000', ' 9,00,000', ' 91,000', ' 87,600',
       ' 82,000', ' 1,80,000', ' 50,000', ' 86,000', ' 2,90,000',
       ' 68,000', ' 3,00,000', ' 3,66,800', ' 3,60,000', ' 1,28,888',
       ' 20,00,000', ' 81,000', ' 84,000', ' 86,500', ' 63,000',
       ' 89,000', ' 89,600', ' 3,65,800', ' 25,00,000', ' 10,000',
       ' 19,99,999', ' 76,000', ' 78,000', ' 7,40,000', ' 3,50,000',
       ' 56,000', ' 50,00,000', ' 67,000', ' 2,12,000', ' 35,000',
       ' 8,00,000', ' 79,000', ' 81,630', ' 96,000', ' 1,82,735',
       ' 17,00,000', ' 3,50,007', ' 68,700', ' 12,00,000', ' 62,000',
       ' 72,000', ' 1,56,000', ' 52,000', ' 68,880', ' 2,80,000',
       ' 74,000', ' 5', ' 15,00,000', ' 30,00,000', ' 9,24,370',
       ' 1,50,000', ' 64,000', ' 85,000', ' 73,000', ' 98,000',
       ' 7,00,000', ' 97,000', ' 97,860', ' 53,000', ' 3,69,800',
       ' 27,00,000', ' 57,000', ' 92,000', ' 95,000', ' 1,90,000',
       ' 69,000', ' 58,000', ' 2,20,000', ' 81,300', ' 65,000', ' 94,000',
       ' 87,000', ' 3,56,000', ' 2,60,000', ' 3,80,000', ' 2,50,000',
       ' 2,36,000', ' 71,000', ' 1,20,048', ' 5,50,000', ' 83,000',
       ' 2,70,000', ' 1,20,000', ' 1,72,000', ' 76,808', ' 1,58,000',
       ' 90,000', ' 3,74,000', ' 3,65,000', ' 1,44,000', ' 1,60,800',
       ' 1,30,000', ' 2,45,000', ' 56,880', ' 4,25,000', ' 93,000',
       ' 1,52,000', ' 1,10,700', ' 30,000', ' 3,20,000', ' 1,10,000',
       ' 3,70,000', ' 84,100', ' 1,000', ' 25,000', ' 1,70,000',
       ' 88,000', ' 1,98,000', ' 51,000', ' 7,90,000', ' 5,22,600',
       ' 20,000', ' 10', ' 76,300', ' 1,35,000', ' 100', ' 6,48,000',
       ' 3,42,000', ' 74,800', ' 3,78,000', ' 4,28,000', ' 2,40,000',
       ' 2,32,400', ' 28,000', ' 75,000', ' 1,20,00,000', ' 1,66,000',
       ' 1,12,920', ' 4,20,000', ' 3,40,000', ' 1,23,500', ' 5,60,000',
       ' 1,78,000', ' 2,25,000', ' 1,32,480', ' 60,00,000', ' 4,50,000',
       ' 2,10,000', ' 3,68,000', ' 2,02,030', ' 6,10,000', ' 3,10,000',
       ' 3,30,000', ' 1,62,000', ' 12,50,000', ' 900', ' 1,48,240',
       ' 2,68,000', ' 99,000', ' 2,18,080', ' 1,96,000', ' 1,64,000',
       ' 2,30,000', ' 3,80,320', ' 1,60,000', ' 3,69,000', ' 7,30,000',
       ' 5,30,000', ' 42,50,000', ' 81,680', ' 4,40,000', ' 49,999',
       ' 83,888', ' 12,89,750', ' 84,600', ' 1,15,000', ' 6,85,000',
       ' 61,000', ' 1', ' 16,00,000', ' 48,000', ' 5,25,000', ' 35,600',
       ' 59,000', ' 95,008', ' 46,000', ' 35,60,000', ' 1,00,00,000',
       ' 5,00,090', ' 91,580', ' 75,00,000', ' 5,000', ' 5,60,008',
       ' 59,500', ' 2,38,000', ' 61,580', ' 86,300', ' 1,28,000',
       ' 71,520', ' 43,550', ' 63,880', ' 81,600', ' 93,500', ' 2,56,800',
       ' 73,600', ' 49,000', ' 40,000', ' 1,40,000', ' 3,99,800',
       ' 62,00,000', ' 1,23,000', ' 4,90,000', ' 28,50,000', ' 78,008',
       ' 14,000', ' 7,100', ' 73,520', ' 8,30,000', ' 2,24,000',
       ' 6,50,000', ' 26,00,000', ' 22,00,000', ' 26,000', ' 94,500',
       ' 25,68,000', ' 2,84,000'], dtype=object)

In [171]:
df['booking_amount'] = df['booking_amount'].str.replace(',', '').astype('float')
df[~df['booking_amount'].isnull()].head(3)

,link,property_type,name,bhk,area,society_name,locality,city,price_in_crore,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,status.1,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,2,1120.0,NaN,Asmangarh,Hyderabad,0.58,58LEMINegotiable,5178.0,Ready to move,Resale,Yes,Old Property,2.0,NaN,4.0,500000.0,1.0,1 rooms(pooja room),No Deposit,Semi-Furnished,NaN,North,Road View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']
4,https://www.makaan.com/hyderabad/builder-hmda-...,Apartment,3 BHK Apartment,3,1600.0,NaN,Ameenpur,Hyderabad,0.77,76.78LEMINegotiable,4799.0,Under Construction,New,Yes,Unknown,2.0,NaN,1.0,400000.0,2.0,1 rooms(pooja room),No Deposit,Unfurnished,NaN,East,Road View,NaN,['[]'],NaN
5,https://www.makaan.com/hyderabad/builder-abcfd...,Villa,3 BHK Villa,3,2000.0,NaN,Kollur,Hyderabad,1.30,1.3CrEMINegotiable,6500.0,Under Construction,New,Yes,Unknown,3.0,NaN,NaN,1000000.0,1.0,1 rooms(pooja room),No Deposit,Unfurnished,NaN,East,Garden View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']

### 12. 'additional_rooms'

In [172]:
df['additional_rooms'].isnull().sum()

np.int64(16027)

In [173]:
df['additional_rooms'].unique()

array(['1 rooms(pooja room)', nan, '1 rooms(servant room)',
       '3 rooms(study room, servant room, pooja room)',
       '1 rooms(study room)', '2 rooms(servant room, pooja room)',
       '2 rooms(study room, pooja room)',
       '2 rooms(study room, servant room)'], dtype=object)

In [174]:
# Function to clean the additional_rooms
pattern = re.compile(r'\((.*?)\)')
def extract_rooms(text):
    if isinstance(text, str):
        match = pattern.search(text)
        if match:
            return match.group(1)  # Extract room names inside parentheses
    return None

In [175]:
df['additional_rooms'] = df['additional_rooms'].apply(extract_rooms).str.strip()
df[~df['additional_rooms'].isnull()].head(3)

,link,property_type,name,bhk,area,society_name,locality,city,price_in_crore,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,status.1,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,2,1120.0,NaN,Asmangarh,Hyderabad,0.58,58LEMINegotiable,5178.0,Ready to move,Resale,Yes,Old Property,2.0,NaN,4.0,500000.0,1.0,pooja room,No Deposit,Semi-Furnished,NaN,North,Road View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']
4,https://www.makaan.com/hyderabad/builder-hmda-...,Apartment,3 BHK Apartment,3,1600.0,NaN,Ameenpur,Hyderabad,0.77,76.78LEMINegotiable,4799.0,Under Construction,New,Yes,Unknown,2.0,NaN,1.0,400000.0,2.0,pooja room,No Deposit,Unfurnished,NaN,East,Road View,NaN,['[]'],NaN
5,https://www.makaan.com/hyderabad/builder-abcfd...,Villa,3 BHK Villa,3,2000.0,NaN,Kollur,Hyderabad,1.30,1.3CrEMINegotiable,6500.0,Under Construction,New,Yes,Unknown,3.0,NaN,NaN,1000000.0,1.0,pooja room,No Deposit,Unfurnished,NaN,East,Garden View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']

### 13. status.1

In [176]:
df['status.1'].unique()

array(['Semi-Furnished', 'Unfurnished', 'Furnished'], dtype=object)

##### The status.1 feature represents the furnishing_type. So, rename the column to furnishing_type

In [177]:
df.rename(columns={'status.1':'furnishing_type'}, inplace=True)
df.head(2)

,link,property_type,name,bhk,area,society_name,locality,city,price_in_crore,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,furnishing_type,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,2,1120.0,NaN,Asmangarh,Hyderabad,0.58,58LEMINegotiable,5178.0,Ready to move,Resale,Yes,Old Property,2.0,NaN,4.0,500000.0,1.0,pooja room,No Deposit,Semi-Furnished,NaN,North,Road View,Freehold,"['[Landscaped Gardens, Lift(s), Swimming Pool,...",['[Sofa]']
1,https://www.makaan.com/hyderabad/asbl-asbl-spi...,Apartment,3 BHK Apartment,3,1905.0,Asbl Asbl Spire,Kokapet,Hyderabad,1.39,1.39CrEMINegotiable,7349.0,Under Construction,New,Yes,Unknown,3.0,NaN,9.0,NaN,NaN,None,No Deposit,Unfurnished,NaN,NaN,NaN,Freehold,['[]'],NaN

### 14. amenities

In [178]:
df['amenities'][0]

"['[Landscaped Gardens, Lift(s), Swimming Pool, Gymnasium, Car Parking, 24 X 7 Security, Full Power Backup]']"

In [179]:
# Function to clean the amenities column and return as a comma-separated string
def clean_amenities(amenities_str):
    if pd.isnull(amenities_str):
        return ""
    
    # Remove the outer brackets and single quotes
    cleaned_str = amenities_str.strip("[]' ")
    
    # Find the innermost brackets and extract the string
    if cleaned_str.startswith('[') and cleaned_str.endswith(']'):
        cleaned_str = cleaned_str[1:-1]  # Remove outer brackets
    
    # Clean and concatenate the amenities
    amenities_string = ', '.join(amenity.strip() for amenity in cleaned_str.split(','))
    
    return amenities_string

In [180]:
df['amenities'] = df['amenities'].apply(clean_amenities)
df.head(3)

,link,property_type,name,bhk,area,society_name,locality,city,price_in_crore,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,furnishing_type,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,2,1120.0,NaN,Asmangarh,Hyderabad,0.58,58LEMINegotiable,5178.0,Ready to move,Resale,Yes,Old Property,2.0,NaN,4.0,500000.0,1.0,pooja room,No Deposit,Semi-Furnished,NaN,North,Road View,Freehold,"Landscaped Gardens, Lift(s), Swimming Pool, Gy...",['[Sofa]']
1,https://www.makaan.com/hyderabad/asbl-asbl-spi...,Apartment,3 BHK Apartment,3,1905.0,Asbl Asbl Spire,Kokapet,Hyderabad,1.39,1.39CrEMINegotiable,7349.0,Under Construction,New,Yes,Unknown,3.0,NaN,9.0,NaN,NaN,None,No Deposit,Unfurnished,NaN,NaN,NaN,Freehold,,NaN
2,https://www.makaan.com/hyderabad/builder-proje...,Independent House,10 BHK Independent House,10,14400.0,NaN,Banjara Hills,Hyderabad,17.47,17.47CrEMI,12131.0,Ready to move,Resale,No,Unknown,11.0,14400.0,NaN,NaN,NaN,None,No Deposit,Semi-Furnished,NaN,North,NaN,NaN,,NaN

### 15. furnish_details

In [181]:
df['furnish_details'][0]

"['[Sofa]']"

In [182]:
# Function to clean the amenities column and return as a comma-separated string
def clean_furnish_details(furnish_details_str):
    if pd.isnull(furnish_details_str):
        return ""
    
    # Remove the outer brackets and single quotes
    cleaned_str = furnish_details_str.strip("[]' ")
    
    # Find the innermost brackets and extract the string
    if cleaned_str.startswith('[') and cleaned_str.endswith(']'):
        cleaned_str = cleaned_str[1:-1]  # Remove outer brackets
    
    # Clean and concatenate the amenities
    furnish_details_string = ', '.join(amenity.strip() for amenity in cleaned_str.split(','))
    
    return furnish_details_string

In [183]:
df['furnish_details'] = df['furnish_details'].apply(clean_furnish_details)
df.head(3)

,link,property_type,name,bhk,area,society_name,locality,city,price_in_crore,price,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,furnishing_type,rera_id,facing,overlooking,ownership_type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/builder-tgre-...,Apartment,2 BHK Apartment,2,1120.0,NaN,Asmangarh,Hyderabad,0.58,58LEMINegotiable,5178.0,Ready to move,Resale,Yes,Old Property,2.0,NaN,4.0,500000.0,1.0,pooja room,No Deposit,Semi-Furnished,NaN,North,Road View,Freehold,"Landscaped Gardens, Lift(s), Swimming Pool, Gy...",Sofa
1,https://www.makaan.com/hyderabad/asbl-asbl-spi...,Apartment,3 BHK Apartment,3,1905.0,Asbl Asbl Spire,Kokapet,Hyderabad,1.39,1.39CrEMINegotiable,7349.0,Under Construction,New,Yes,Unknown,3.0,NaN,9.0,NaN,NaN,None,No Deposit,Unfurnished,NaN,NaN,NaN,Freehold,,
2,https://www.makaan.com/hyderabad/builder-proje...,Independent House,10 BHK Independent House,10,14400.0,NaN,Banjara Hills,Hyderabad,17.47,17.47CrEMI,12131.0,Ready to move,Resale,No,Unknown,11.0,14400.0,NaN,NaN,NaN,None,No Deposit,Semi-Furnished,NaN,North,NaN,NaN,,

In [184]:
# Drop the columns which are not required further.
cols_to_drop = ['link', 'name', 'price', 'rera_id']
df1 = df.drop(cols_to_drop, axis='columns')
df1.head(3)

,property_type,bhk,area,society_name,locality,city,price_in_crore,price_per_sqft,status,new_resale,price_negotiable,age_of_property,bathrooms,carpet_area,floor,booking_amount,balconies,additional_rooms,security_deposit,furnishing_type,facing,overlooking,ownership_type,amenities,furnish_details
0,Apartment,2,1120.0,NaN,Asmangarh,Hyderabad,0.58,5178.0,Ready to move,Resale,Yes,Old Property,2.0,NaN,4.0,500000.0,1.0,pooja room,No Deposit,Semi-Furnished,North,Road View,Freehold,"Landscaped Gardens, Lift(s), Swimming Pool, Gy...",Sofa
1,Apartment,3,1905.0,Asbl Asbl Spire,Kokapet,Hyderabad,1.39,7349.0,Under Construction,New,Yes,Unknown,3.0,NaN,9.0,NaN,NaN,None,No Deposit,Unfurnished,NaN,NaN,Freehold,,
2,Independent House,10,14400.0,NaN,Banjara Hills,Hyderabad,17.47,12131.0,Ready to move,Resale,No,Unknown,11.0,14400.0,NaN,NaN,NaN,None,No Deposit,Semi-Furnished,North,NaN,NaN,,

In [185]:
df1.shape

(19510, 25)

In [186]:
df1.isnull().sum()

property_type           0
bhk                     0
area                    0
society_name        10563
locality                0
city                    0
price_in_crore        107
price_per_sqft        107
status                  3
new_resale              0
price_negotiable        0
age_of_property         0
bathrooms            2478
carpet_area         11051
floor               15031
booking_amount      13811
balconies           14812
additional_rooms    16027
security_deposit        0
furnishing_type         0
facing               7463
overlooking         15247
ownership_type      13010
amenities               0
furnish_details         0
dtype: int64

#### Save the cleaned df to csv

In [187]:
import os
os.makedirs('data/cleaned_data/hyderabad', exist_ok=True)

In [188]:
df1.to_csv('data/cleaned_data/hyderabad/hyd_properties_cleaned.csv', index=False)